#birth{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 590px;
    left: 0; right: 500px;
    margin: auto;
    z-index: 7;
    transition: 0.5s;
}
.birth_span{
    position: absolute;
    height: 300px;
    width: 300px;
}

#academic_background{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 430px;
    left: 0; right: 160px;
    margin: auto;
    z-index: 0;
    transition: 0.5s;
}
.academic_background_span{
    position: absolute;
    height: 163px;
    width: 163px;
}

#license{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 180px;
    left: 210px; right: 0;
    margin: auto;
    z-index: 7;
    transition: 0.5s;
}
.license_span{
    position: absolute;
    height: 180px;
    width: 180px;
}

#project{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 10px;
    left: 100px; right: 15px;
    margin: auto;
    z-index: 7;
    transition: 0.5s;
}
.project_span{
    position: absolute;
    height: 130px;
    width: 130px;
}