#start{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 145px;
    left: 0; right: 510px;
    margin: auto;
    z-index: 8;
    transition: 0.5s;
}
.start_span{
    position: absolute;
    height: 130px;
    width: 130px;
}

#birth{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 500px;
    left: 0; right: 450px;
    margin: auto;
    z-index: 7;
    transition: 0.5s;
}
.birth_span{
    position: absolute;
    height: 250px;
    width: 250px;
}

#academic_background{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 430px;
    left: 0; right: 160px;
    margin: auto;
    z-index: 0;
    transition: 0.5s;
}
.academic_background_span{
    position: absolute;
    height: 163px;
    width: 163px;
}

#license{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 180px;
    left: 210px; right: 0;
    margin: auto;
    z-index: 7;
    transition: 0.5s;
}
.license_span{
    position: absolute;
    height: 180px;
    width: 180px;
}

#project{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 10px;
    left: 100px; right: 15px;
    margin: auto;
    z-index: 7;
    transition: 0.5s;
}
.project_span{
    position: absolute;
    height: 130px;
    width: 130px;
}

#career{
    position: absolute;
    height: 0; width: 0;
    top: 90px; bottom: 0;
    left: 0; right: 170px;
    margin: auto;
    z-index: 7;
    transition: 0.5s;
}
.career_span{
    position: absolute;
    height: 173px;
    width: 173px;
}

#etc{
    position: absolute;
    height: 0; width: 0;
    top: 0; bottom: 35px;
    left: 0; right: 365px;
    margin: auto;
    z-index: 9;
    transition: 0.5s;
}
.etc_span{
    position: absolute;
    height: 165px;
    width: 165px;
}